<div class="spacerBan"></div>
<section class="aboutHeader">
  <div class="container">
      <ol class="breadcrumb float-right">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="specialSep">&gt;</li>
          <li class="active">About Us</li>        
      </ol>
      <div class="pageLabel">About us</div>
  </div>
  <div class="clearfix"></div>
</section>
<section class="abtSectTwo">
  <div class="container">
    <div class="row">     
      <div class="col-12 text-center homeAboutHead">
        <h3>What are we about</h3>
        <div class="underLineAbt"></div>
        <h6>Discover us</h6>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-9 tab-content">
            <div class="tab-pane container active" id="aboutTab">
              <div class="aboutSectTwoContHeaders">
                <h3>About Swivel</h3>
              </div>
              <div class="aboutSectTwoConts">
                <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Nullam et quam justo. Suspen disse consequat velit finibus, vehicula.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <p>Quisque a ipsum nunc. Morbi pellentesque, purus vel tristique vulputate, riasus nisl scelerisque arcu, id facilisis tellus ipsum a purus. Fusce dictum enim sit amet leo convallis, vel suscipit sem placerat. </p>
                <p>Aenean eget mi mollis, sagittis purus sit amet, cursus nisi. Mergers and acquisitions.</p>
              </div>
            </div>
            <div class="tab-pane container fade" id="history">
                <div class="aboutSectTwoContHeaders">
                  <h3>Company History</h3>
                </div>
                <div class="aboutSectTwoConts">
                  <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Nullam et quam justo. Suspen disse consequat velit finibus, vehicula.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p>Quisque a ipsum nunc. Morbi pellentesque, purus vel tristique vulputate, riasus nisl scelerisque arcu, id facilisis tellus ipsum a purus. Fusce dictum enim sit amet leo convallis, vel suscipit sem placerat. </p>
                  <p>Aenean eget mi mollis, sagittis purus sit amet, cursus nisi. Mergers and acquisitions.</p>
                </div>
            </div>
            <div class="tab-pane container fade" id="careers">
                <div class="aboutSectTwoContHeaders">
                  <h3>Careers - Find a job</h3>
                </div>
                <div class="aboutSectTwoConts">
                  <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Nullam et quam justo. Suspen disse consequat velit finibus, vehicula.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p>Quisque a ipsum nunc. Morbi pellentesque, purus vel tristique vulputate, riasus nisl scelerisque arcu, id facilisis tellus ipsum a purus. Fusce dictum enim sit amet leo convallis, vel suscipit sem placerat. </p>
                  <p>Aenean eget mi mollis, sagittis purus sit amet, cursus nisi. Mergers and acquisitions.</p>
                </div>
            </div>
            <div class="tab-pane container fade" id="partners">
                <div class="aboutSectTwoContHeaders">
                  <h3>Our Parteners</h3>
                </div>
                <div class="aboutSectTwoConts">
                  <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Nullam et quam justo. Suspen disse consequat velit finibus, vehicula.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p>Quisque a ipsum nunc. Morbi pellentesque, purus vel tristique vulputate, riasus nisl scelerisque arcu, id facilisis tellus ipsum a purus. Fusce dictum enim sit amet leo convallis, vel suscipit sem placerat. </p>
                  <p>Aenean eget mi mollis, sagittis purus sit amet, cursus nisi. Mergers and acquisitions.</p>
                </div>
            </div>
          </div>
          <nav class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <ul class="nav nav-tabs flex-column aboutTabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#aboutTab">About Swivel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#history">Company History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#careers">Careers - Find a job</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#partners">Our Parteners</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-12 abtAdvt">
        <div class="abtAdvtInner">
          <div class="abtAdvtCont">
            <h3>Get a Payments Dashboard to Manage your Payments. </h3>
            <div class="btn abtGetBtn">get Started</div>
          </div>
        </div>
      </div>
      <div class="col-12 abtBelowAdvt">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="abtBelowAdvtInnerOne text-center">
              <h3>Let us help you</h3>
              <p>Quisque a ipsum nunc. Morbi pellentesque, purus vel tristique vulputate, risus nisl scele risque arcu, id facilisis tellus ipsum a purus. Fusce dictum enim sit amet leo convallis.</p>
              <div class="btn abtContBtn">get Started</div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <div class="abtBelowAdvtInnerTwo text-center">
                <img src="../../assets/img/mdavatar.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Lorem ipsum dolor sit amet.</p>
                <h1>"</h1>
                <h3>Paul Mbugua</h3>
                <h5>CEO & Managing Director <br>
                    Eclectics International Limited</h5>
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <div class="abtBelowAdvtInnerThree text-center">
                <h3>Our clients ratings <br>recommend us</h3>
                <p>Quisque a ipsum nunc. Morbi pe llentesque, purus vel trist ique vul putate, risus nisl.</p>
                <img src="../../assets/img/clientsrating.png" alt="">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="aboutServSect">
  <div class="container abtServSectInn">
    <h3>We provide the best Consulting Services</h3>
    <div class="btn abtServBtn">get Started</div>
  </div>
</section>
<section class="aboutTeamSect">
  <div class="container">
    <div class="row">     
        <div class="col-12 text-center homeAboutHead">
          <h3>meet the team</h3>
          <div class="underLineAbt"></div>
          <h6>Here to help</h6>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 aboutTeamMember text-center">
              <img src="../../assets/img/teamavatar.jpg" class="img-fluid" alt="">
              <h3>Clark Weza</h3>
              <h4>Managing Director</h4>
              <p>Lorem ipsum dolor sit amet, conse ctet ur adipisc
ing elit. Donec nisl urna, porta eu vulputate eu, sceleris q ue vel turpis. </p>
                <div class="btn abtTeamBtn">view profile</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 aboutTeamMember text-center">
              <img src="../../assets/img/teamavatar.jpg" class="img-fluid" alt="">
              <h3>Clark Weza</h3>
              <h4>Managing Director</h4>
              <p>Lorem ipsum dolor sit amet, conse ctet ur adipisc
ing elit. Donec nisl urna, porta eu vulputate eu, sceleris q ue vel turpis. </p>
                <div class="btn abtTeamBtn">view profile</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 aboutTeamMember text-center">
              <img src="../../assets/img/teamavatar.jpg" class="img-fluid" alt="">
              <h3>Clark Weza</h3>
              <h4>Managing Director</h4>
              <p>Lorem ipsum dolor sit amet, conse ctet ur adipisc
ing elit. Donec nisl urna, porta eu vulputate eu, sceleris q ue vel turpis. </p>
                <div class="btn abtTeamBtn">view profile</div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>