<div class="spacerBan"></div>
<section class="contactHeader">
  <div class="container">
      <ol class="breadcrumb float-right">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="specialSep">&gt;</li>
          <li class="active">Contact us</li>        
      </ol>
      <div class="pageLabel">Contact us</div>
  </div>
  <div class="clearfix"></div>
</section>
<section class="contactsSectOne">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 contTopSect">
        <div class="contSectOneInn contSectOneInnOne">
          <h3>Our Office</h3>
          <p>Duis ac sem elit. Etiam ac varius nisl, sed convallis lorem. Fusce non lacus sapien. Phasellus gravida mol estie lobortis. Etiam at mattis arcu.</p>
          <ul class="contSectOneList">
            <li><i class="fas fa-map-marker-alt"></i> 3rd Floor, Utumishi Co-op House, Mamlaka Road </li>
            <li><i class="fa fa-phone"></i>  +254 722 505 050</li>
            <li><i class="far fa-envelope"></i>  milothemes@gmail.com</li>
          </ul>
          <ul class="contactsSocial">
            <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 contTopSect">
        <div class="contSectOneInn contSectOneInnTwo">
          <div class="btn officeBtn"><i class="fas fa-map-marker-alt"></i></div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 contTopSect">
        <div class="contSectOneInn contSectOneInnThree">
          <div class="btn telBtn"><i class="fa fa-phone"></i></div>
          <div class="clearfix"></div>
          <div class="contSectOneInnThreeInn">
            <h3>Let us help you</h3>
            <h4>call us on</h4>
            <h2>+254 722 505 050</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum nec erat ultricies fermentum. Vivamus nec felis at diam venenatis maxim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contactsFormSect">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 formHolder">
        <div class="row">
          <div class="col-12 formHeader">
            <h3>Send a quick message</h3>
          </div>
          <label class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 contsTextFields">
            <input type="text" class="form-control myContInputs" placeholder="Name*">
          </label>
          <label class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 contsTextFields">
            <input type="text" class="form-control myContInputs" placeholder="E-mail*">
          </label>
          <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 contsTextFields">
            <input type="text" class="form-control myContInputs" placeholder="Subject*">
          </label>
          <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 contsTextFields">
            <textarea name="" id="" rows="8" class="form-control contsTextArea" placeholder="Message*"></textarea>
          </label>
          <label class="col-12">
              <div class="btn submitBtn">submit</div>
          </label>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 contactsPeople">
        <div class="contactsPeopleHead"><h3>Get in Touch with an advisier</h3></div>
        <ul class="row contactsPeopleInn">
          <li class="col-12 col-sm-6 col-md-4 col-lg-12 col-xl-12 contactPerson">
            <img src="../../assets/img/contactavatar.png" alt="">
            <div class="contPersonDetails">
              <h4>James Mutua</h4>
              <p>Managing Director</p>
              <p><i class="far fa-envelope"></i> james.m@milo.com</p>
              <p><i class="fa fa-phone"></i> +254 347 53433</p>
            </div>
          </li>
          <li class="col-12 col-sm-6 col-md-4 col-lg-12 col-xl-12 contactPerson">
            <img src="../../assets/img/contactavatar.png" alt="">
            <div class="contPersonDetails">
              <h4>John Doe</h4>
              <p>Business Development</p>
              <p><i class="far fa-envelope"></i> john.m@milo.com</p>
              <p><i class="fa fa-phone"></i> +254 347 53433</p>
            </div>
          </li>
          <li class="col-12 col-sm-6 col-md-4 col-lg-12 col-xl-12 contactPerson">
            <img src="../../assets/img/contactavatar.png" alt="">
            <div class="contPersonDetails">
              <h4>John Maina</h4>
              <p>Payments Manager</p>
              <p><i class="far fa-envelope"></i> maina.m@milo.com</p>
              <p><i class="fa fa-phone"></i> +254 347 53433</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="contactsMap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.813112426996!2d36.81082691483288!3d-1.2861692990619085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10cfc7c81219%3A0xa29a60781d3025ff!2sEclectics+International+Kenya!5e0!3m2!1sen!2ske!4v1538723458589" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
