<div class="spacerBan"></div>
<section class="personalHeader">
  <div class="container">
      <ol class="breadcrumb float-right">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="specialSep">&gt;</li>
          <li class="active">Kentapay Personal</li>        
      </ol>
      <div class="pageLabel">Kentapay Personal</div>
  </div>
  <div class="clearfix"></div>
</section>
<section class="personalSecTwo">
  <div class="container">
    <div class="row">   
      <div class="col-12 text-center personalSecTwoHead">
        <h3>Kentapay Personal</h3>
        <div class="underLineAbt"></div>
        <h6>The most convenient experience</h6>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-9 tab-content">
            <div class="tab-pane container active" id="aboutTab">
              <div class="personalSectTwoContHeaders">
                <h3>Kentapay Personal </h3>
              </div>
              <div class="personalSectTwoConts">
                <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Nullam et quam justo. Suspen disse consequat velit finibus, vehicula.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <p>Quisque a ipsum nunc. Morbi pellentesque, purus vel tristique vulputate, riasus nisl scelerisque arcu, id facilisis tellus ipsum a purus. Fusce dictum enim sit amet leo convallis, vel suscipit sem placerat. </p>
                <p>Aenean eget mi mollis, sagittis purus sit amet, cursus nisi. Mergers and acquisitions.</p>
              </div>
              <div class="btn personalActionBtn">Open a Personal account</div>
            </div>
            <div class="tab-pane container fade" id="history">
                <div class="personalSectTwoContHeaders">
                  <h3>Express Checkout</h3>
                </div>
                <div class="personalSectTwoConts">
                  <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Nullam et quam justo. Suspen disse consequat velit finibus, vehicula.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p>Quisque a ipsum nunc. Morbi pellentesque, purus vel tristique vulputate, riasus nisl scelerisque arcu, id facilisis tellus ipsum a purus. Fusce dictum enim sit amet leo convallis, vel suscipit sem placerat. </p>
                  <p>Aenean eget mi mollis, sagittis purus sit amet, cursus nisi. Mergers and acquisitions.</p>
                </div>
                <div class="btn personalActionBtn">Express Checkout</div>
            </div>
          </div>
          <nav class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <ul class="nav nav-tabs flex-column personalTabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#aboutTab">Kentapay Personal </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#history">Express Checkout</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="enterAboutSec">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center personalSecTwoHead">
        <h3>We Provide Quality</h3>
        <div class="underLineAbt"></div>
        <h6>The Best Service for you</h6>
      </div>
      <div class="col-12 enterAbtCont">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="../../assets//img/businessabt.png" alt="">
            <div class="abtContInn">
              <h3>Business Services <br>Consulting</h3>
              <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. </p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="../../assets//img/financeabt.png" alt="">
            <div class="abtContInn">
              <h3>Financial Services <br>Management</h3>
              <p>Elit dronec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Nullam nisl urnaet quam justo. </p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="../../assets//img/customerabt.png" alt="">
            <div class="abtContInn">
              <h3>Customer Service <br>Team</h3>
              <p>Sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="personalLastSect">
  <div class="container">
    <div class="row">
      <div class="col-12 slidesPersonal">
          <div id="enter-scroller" class="owl-carousel owl-theme">
              <div class="item myEnterSlides">
                <div class="myEnterSlidesInn text-center">
                  <h3>A good deal</h3>
                  <p>Lorem ipsum dolor sit amet, consectet ur adip isc ing elit. Donec nisl urna, porta eu vulputate eu, scelerisque.</p>
                  <div class="btn myEnterSlideBtn">Read More <i class="fas fa-arrow-right"></i></div>
                </div>
              </div>
              <div class="item myEnterSlides">
                <div class="myEnterSlidesInn text-center">
                  <h3>Collaboration bases</h3>
                  <p>Quisque a ipsum nunc. Morbi pellen tesque, purus vel tristique vulputate, risus nisl sce leris que arcu.</p>
                  <div class="btn myEnterSlideBtn">Read More <i class="fas fa-arrow-right"></i></div>
                </div>
              </div>
              <div class="item myEnterSlides">
                <div class="myEnterSlidesInn text-center">
                  <h3>Agreement issues</h3>
                  <p>Lorem ipsum dolor sit amet, consectet ur adip isc ing elit. Donec nisl urna, porta eu vulputate eu, scelerisque.</p>
                  <div class="btn myEnterSlideBtn">Read More <i class="fas fa-arrow-right"></i></div>
                </div>
              </div>
              <div class="item myEnterSlides">
                <div class="myEnterSlidesInn text-center">
                  <h3>A good deal</h3>
                  <p>Donec nisl urna, porta eu vulputate eu, scel eris que vel turpis. Nullam et quam justo. Suspen disse consequat.</p>
                  <div class="btn myEnterSlideBtn">Read More <i class="fas fa-arrow-right"></i></div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>