<div class="spacerBan"></div>
<div class="homeBanner">
    <div id="myCarousel" class="carousel slide bg-inverse w-80 ml-auto mr-auto" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active text-center">
            <h1>Payments, Made Simple</h1>
            <div class="btn btnBanner">Get Started</div>
          </div>
          <div class="carousel-item text-center">
            <h1>Buy Airtime Conviniently</h1>
            <div class="btn btnBanner">Get Started</div>
          </div>
          <div class="carousel-item text-center">
            <h1>USSD solution </h1>
            <div class="btn btnBanner">Get Started</div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<section class="homeBanCards">
  <div class="container">
    <div class="row CardHolder">
      <div class="col-12 col-sm-12 col-m12-4 col-lg-4 col-xl-4 cardFlips">
          <div class="card-container">
              <div class="cardCustom">
                <div class="sideOne side">
                  <div class="flipTitle">
                      <h3>Payment Methods</h3>
                  </div>
                </div>
                <div class="side back">
                  <h3>Payment Methods</h3>
                  <p>Card Payments – VISA, MasterCard</p>
                  <p>Mobile Money</p>
                  <div class="btn readMoreBtn">Read More</div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cardFlips">
          <div class="card-container">
              <div class="cardCustom">
                <div class="sideTwo side">
                  <div class="flipTitle">
                      <h3>Enhanced Security</h3>
                  </div>
                </div>
                <div class="side back">
                  <h3>Enhanced Security</h3>
                  <p>PCI/DSS Certified Gateway</p>
                  <p>AML Compliance</p>
                  <p>Continuous Internal Security Testing</p>
                  <div class="btn readMoreBtn">Read More</div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cardFlips">
          <div class="card-container">
              <div class="cardCustom">
                <div class="sideThree side">
                  <div class="flipTitle">
                      <h3>High-Availability</h3>
                  </div>
                </div>
                <div class="side back">
                  <h3>High-Availability</h3>
                  <p>99.9% Uptime</p>
                  <p>High TPS Throughput</p>
                  <p>24-7 Customer Support</p>
                  <div class="btn readMoreBtn">Read More</div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>
<section class="homeAbout">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center homeAboutHead">
        <h3>Why choose Swivel?</h3>
        <div class="underLineAbt"></div>
        <h6>Our Products and Services</h6>
      </div>
      <div class="col-12 homeAbtCont">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="../../assets//img/businessabt.png" alt="">
            <div class="abtContInn">
              <h3>Business Services <br>Consulting</h3>
              <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. </p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="../../assets//img/financeabt.png" alt="">
            <div class="abtContInn">
              <h3>Financial Services <br>Management</h3>
              <p>Elit dronec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Nullam nisl urnaet quam justo. </p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="../../assets//img/customerabt.png" alt="">
            <div class="abtContInn">
              <h3>Customer Service <br>Team</h3>
              <p>Sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="../../assets//img/brateabt.png" alt="">
            <div class="abtContInn">
              <h3>Business Competitive <br>Rates</h3>
              <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="../../assets//img/companyabt.png" alt="">
            <div class="abtContInn">
              <h3>Company Profile <br>Book</h3>
              <p>Elit dronec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Nullam nisl urnaet quam justo</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="../../assets//img/investorabt.png" alt="">
            <div class="abtContInn">
              <h3>Investor General <br>Strategy</h3>
              <p>Sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="homeVideo">
  <div id="contentVideo" class="text-center">
    <h3>Faster, Simpler, Safer</h3>
    <h5>Send to those you love today</h5>
    <button class="vidBtn" data-toggle="modal" data-target="#myVideo"><i class="fas fa-play"></i></button>
  </div>
  <div class="modal" id="myVideo">
      <div class="modal-dialog myVids">
        <div class="modal-content videoHolder">
            <div class="modal-header videoHader">
                <button id="myVidBtn" type="button" class="close videoClose" data-dismiss="modal" onclick="vidFunction()">&times;</button>
                
            </div>
            <div class="modal-body text-center">
                <video controls autoplay muted close id="eclecticsVideo">
                  <source src="../../assets/video/eclectics.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
            </div>
        </div>
      </div>
  </div>
</section> 
<section class="homeTest">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center homeAboutHead">
        <h3>Why you should trust us?</h3>
        <div class="underLineAbt"></div>
        <h6>Testimonials</h6>
      </div>
      <div class="col-12">
        <div id="comments-scroller" class="owl-carousel owl-theme">
          <div class="mycomments item">
            <img src="../../assets/img/testplaceholder.png" alt="" class="img-fluid">
            <div class="testCont">
              <span>"</span>
              <br>
              <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.</p>
              <h3>James Mutua</h3>
              <h4 class="testDesign">CEO & Partner</h4>
              <h4>Hartmann Corporation</h4>
            </div>
          </div>
          <div class="mycomments item">
            <img src="../../assets/img/testplaceholder.png" alt="" class="img-fluid">
            <div class="testCont">
              <span>"</span>
              <br>
              <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.</p>
              <h3>William Maina</h3>
              <h4 class="testDesign">CEO & Partner</h4>
              <h4>Hartmann Corporation</h4>
            </div>
          </div>
          <div class="mycomments item">
            <img src="../../assets/img/testplaceholder.png" alt="" class="img-fluid">
            <div class="testCont">
              <span>"</span>
              <br>
              <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.</p>
              <h3>James Mutua</h3>
              <h4 class="testDesign">CEO & Partner</h4>
              <h4>Hartmann Corporation</h4>
            </div>
          </div>
          <div class="mycomments item">
            <img src="../../assets/img/testplaceholder.png" alt="" class="img-fluid">
            <div class="testCont">
              <span>"</span>
              <br>
              <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.</p>
              <h3>Lawrence Chege</h3>
              <h4 class="testDesign">UI Designer</h4>
              <h4>Hartmann Corporation</h4>
            </div>
          </div>
          <div class="mycomments item">
            <img src="../../assets/img/testplaceholder.png" alt="" class="img-fluid">
            <div class="testCont">
              <span>"</span>
              <br>
              <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl urna, porta eu vulputate eu, scelerisque vel turpis.</p>
              <h3>James Mutua</h3>
              <h4 class="testDesign">CEO & Partner</h4>
              <h4>Hartmann Corporation</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="homeStats">
  <div class="container">
    <div class="row">
      <div class="col-12 homeStatsHead">
        <h3>We provide the best Merchant Service</h3>
        <h4>One more step to growing your business</h4>
      </div>
      <div class="col-12 statsCont">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 statsOuter">
            <div class="statsInner counter">
                <h6 class="mysuperCase">+</h6>
              <h1 class="timer count-title count-number" data-to="325" data-speed="1500">325<sup>+</sup></h1><span></span>
              <h4>Customers</h4>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 statsOuter">
            <div class="statsInner counter">
                <h6 class="mysuperCase">+</h6>
              <h1 class="timer count-title count-number" data-to="18" data-speed="1500">18<sup>+</sup></h1>
              <h4>Merchants</h4>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 statsOuter">
            <div class="statsInner counter">
                <h6 class="mysuperCase">+</h6>
              <h1 class="timer count-title count-number" data-to="1139" data-speed="1500">1139<sup>+</sup></h1>
              <h4>Transactions</h4>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 statsOuter">
            <div class="statsInner counter">
                <h6 class="mysuperCase">+</h6>
              <h1 class="timer count-title count-number" data-to="59" data-speed="1500">59<sup>+</sup></h1>
              <h4>Partners</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="homePartners">
  <div class="container">
    <div class="row">
        <div class="col-12 text-center homeAboutHead">
          <h3>Who we work with</h3>
          <div class="underLineAbt"></div>
          <h6>Our Partners</h6>
        </div>
        <div class="col-12">
            <div id="swivelPartners">
                <div class="item text-center"><img src="../assets/img/swivelpartnerone.png" alt="Swivel partners"></div>
                <div class="item text-center"><img src="../assets/img/swivelpartnertwo.png" alt="Swivel partners"></div>
                <div class="item text-center"><img src="../assets/img/swivelpartnerthree.png" alt="Swivel partners"></div>
                <div class="item text-center"><img src="../assets/img/swivelpartnerfour.png" alt="Swivel partners"></div>
                <div class="item text-center"><img src="../assets/img/swivelpartnerfive.png" alt="Swivel partners"></div>
                <div class="item text-center"><img src="../assets/img/swivelpartnertwo.png" alt="Swivel partners"></div>
                <div class="item text-center"><img src="../assets/img/swivelpartnerthree.png" alt="Swivel partners"></div>
            </div>
        </div>
    </div>
  </div>
</section>